#resume {
  height: auto;
  width: 90vw;
  position: relative;
  left: 5vw;
  margin: 0;
  padding: 0;
}

#resume .tab-head {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 15vh;
}

#resume .tab-head .tab-head-content {
  margin: 0;
  padding: 0;
  float: left;
  width: 33.3333333%;
  line-height: 18vh;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 4vmin;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

#resume .tab-head .tab-head-content:hover {
  background-color: grey;
}

#resume #resumePwd {
  height: 75vh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  border: 1px solid grey;
}

#resume #resumePwd #resumePwdDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  border: 1px solid;
  height: 5vh;
}

#resume #resumePwd #resumePwdDiv input {
  height: 100%;
  font-size: 1.2vmin;
}

#resume #resumePwd #resumePwdDiv button {
  font-size: 2vmin;
  font-family: 'Times New Roman', Times, serif;
}

#resume .tab-body {
  height: 75vh;
  margin: 0;
  padding: 0;
}

#resume .tab-body .tab-body-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#resume .tab-body .tab-body-content #resumeTab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  height: 100%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid {
  margin-top: 30%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLTitle {
  text-align: center;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLTitle h2 {
  font-size: 3vmin;
  font-weight: 500;
  margin-bottom: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid .row div {
  font-size: 2.5vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLBtn {
  text-align: center;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLBtn a {
  font-size: 2vmin;
  font-weight: 100;
  margin-top: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR {
  height: 100%;
  margin: 0;
  padding: 0;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRT {
  height: 60%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRT h2 {
  font-size: 3vmin;
  font-weight: 500;
  margin-bottom: 2%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRT div {
  font-size: 2vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRB {
  height: 40%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRB h2 {
  font-size: 3vmin;
  font-weight: 500;
  margin-bottom: 2%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRB div {
  font-size: 2vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #courseTab {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: 10%;
}

#resume .tab-body .tab-body-content #courseTab #nsccCourseTable {
  font-weight: 200;
}

#resume .tab-body .tab-body-content #projectTab .card {
  margin-top: 5vh;
  height: 30vh;
}

#resume .tab-body .tab-body-content #projectTab .card .card-header {
  font-size: 2vmin;
  font-weight: 400;
}

#resume .tab-body .tab-body-content #projectTab .card .card-body {
  font-size: 2vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #projectTab .card .card-footer {
  text-align: center;
}

#resume .tab-body .tab-body-content #projectTab .card .card-footer a {
  font-size: 2vmin;
  font-weight: 100;
  color: white;
}

#resume .tab-body .on {
  display: block;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=div_resume.css.map */