
#resume {
    height: auto;
    width: 90vw;
    position: relative;
    left: 5vw;
    margin: 0;
    padding: 0;
    // overflow: hidden;
    .tab-head {
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 15vh;
        .tab-head-content {
            margin: 0;
            padding: 0;
            float: left;
            width: 33.3333333%;
            line-height: 18vh;
            background-color: black;
            // background-color: #f0f0f0;
            // border: 1px solid;
            text-align: center;
            cursor: pointer;
            font-size: 4vmin;
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }
        .tab-head-content:hover {
            background-color: grey;
            // background-color: #f3d7d7;
        }
    }
    #resumePwd {
        height: 75vh;
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
        border: 1px solid grey;
        #resumePwdDiv{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
            border: 1px solid;
            height: 5vh;
            input{
                height: 100%;
                font-size: 1.2vmin;
            }
            button{
                font-size: 2vmin;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
    .tab-body {
        height: 75vh;
        margin: 0;
        padding: 0;
        .tab-body-content {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: none;
            // background-color: whitesmoke;
            // background-color: rgb(235, 199, 199);
            #resumeTab {
                display: grid;
                grid-template-columns: 30% 70%;
                height: 100%;
                #resumeTabL {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    margin-left: 5%;
                    // border: 1px solid;
                    .container-fluid{
                        margin-top: 30%;
                        #resumeTabLTitle{                  
                            text-align: center;                      
                            h2 {
                                font-size: 3vmin;
                                font-weight: 500;
                                margin-bottom: 5%;
                                // border: 1px solid black;
                            }
                        }
                        .row{
                            div{
                                font-size: 2.5vmin;
                                font-weight: 100;
                            }
                        }
                        #resumeTabLBtn{
                            text-align: center;
                            a{
                                font-size: 2vmin;
                                font-weight: 100;
                                margin-top: 5%;
                            }
                        }
                    }
                }
                #resumeTabR {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    // border: 1px solid;
                    #resumeTabRT {
                        height: 60%;
                        margin: 0;
                        padding: 0;
                        margin-left: 5%;
                        margin-right: 5%;
                        margin-top: 2%;
                        // border: 1px solid;
                        h2{
                            font-size: 3vmin;
                            font-weight: 500;
                            margin-bottom: 2%;
                        }
                        div{
                            font-size: 2vmin;
                            font-weight: 100;
                        }
                    }
                    #resumeTabRB {
                        height: 40%;
                        margin: 0;
                        padding: 0;
                        margin-left: 5%;
                        margin-right: 5%;
                        // border: 1px solid;
                        h2{
                            font-size: 3vmin;
                            font-weight: 500;
                            margin-bottom: 2%;
                        }
                        div{
                            font-size: 2vmin;
                            font-weight: 100;
                        }
                    }
                }
            }
            #courseTab {
                margin: 0;
                padding: 0;
                // border: 1px solid whitesmoke;
                width: 100%;
                position: relative;
                top: 10%;
                #nsccCourseTable{
                    font-weight: 200;
                }
            }
            #projectTab {
                .card{
                    margin-top: 5vh;
                    height: 30vh;
                    .card-header{
                        font-size: 2vmin;
                        font-weight: 400;
                    }
                    .card-body{
                        font-size: 2vmin;
                        font-weight: 100;
                    }
                    .card-footer{
                        text-align: center;
                        a{
                            font-size: 2vmin;
                            font-weight: 100;
                            color: white;
                        }
                    }
                }
            }
        }
        .on {
            display: block;
            margin: 0;
            padding: 0;
        }
    }
}
