header {
  display: none;
}

header #navBar {
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 9999;
}

header #navBar #logoZhe {
  font-size: 2rem;
  font-family: 'Times New Roman';
}

header #navBar ul {
  height: 6rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

header #navBar ul li {
  width: 9rem;
  height: 6rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Times New Roman';
}

header #navBar ul li a {
  margin: 0;
  padding: 0;
  color: white;
}

header .slideUp {
  -webkit-transform: translateY(-10rem);
  transform: translateY(-10rem);
  -webkit-transition: transform .5s ease-out;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

header .slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: transform .5s ease-out;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

#backToTop {
  position: fixed;
  bottom: 2vh;
  right: 0px;
}

#backToTop #percentageCounter {
  width: 3vw;
  height: 3vw;
  border-top-left-radius: 5px;
  background-color: grey;
}

#backToTop #percentageCounter span {
  position: absolute;
  top: 15%;
  left: 8%;
  font-size: 1.5vmin;
  text-align: center;
  color: white;
}

#backToTop a {
  cursor: pointer;
}

#backToTop a img {
  width: 3vw;
  height: 3vw;
  border-bottom-left-radius: 5px;
}

#home {
  height: 100vh;
  width: 100vw;
}

#home #starting {
  height: 100vh;
  background-color: #111;
  background-image: radial-gradient(#333, #111);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
}

#home #starting #fly-in {
  margin: 40vh auto;
  height: 20vh;
}

#home #starting #fly-in div {
  position: absolute;
  margin: 2vh 0;
  opacity: 0;
  left: 9vw;
  width: 80vw;
  -webkit-animation: switch 21s linear infinite;
          animation: switch 21s linear infinite;
  font-size: 8vmin;
}

#home #starting #fly-in div span {
  display: block;
  font-size: 4vmin;
  opacity: .8;
}

#home #starting #fly-in div:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#home #starting #fly-in div:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

#home #starting #fly-in div:nth-child(4) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

#home #starting #fly-in div:nth-child(5) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

#home #starting #fly-in div:nth-child(6) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

#home #starting #fly-in div:nth-child(7) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

@-webkit-keyframes switch {
  0% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  3% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  13% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes switch {
  0% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  3% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  13% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#home #autoVideo {
  display: none;
}

#home #autoVideo #welcomeH1 {
  line-height: 100vh;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  font-size: 6rem;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  display: none;
}

#home #autoVideo #homeDivBottom {
  position: absolute;
  bottom: 0;
  height: 8vh;
  width: 100%;
  margin: 0;
  border-top: solid 0.1px whitesmoke;
}

#home #autoVideo #homeDivBottom #sub_homeDivBottom_1 {
  text-align: right;
  line-height: 8vh;
  padding: 0;
}

#home #autoVideo #homeDivBottom #sub_homeDivBottom_2 {
  text-align: center;
  line-height: 8vh;
  padding: 0;
}

#home #autoVideo #homeDivBottom #sub_homeDivBottom_3 {
  text-align: left;
  line-height: 8vh;
  padding: 0;
}

#home #autoVideo #homeDivBottom #homeDivNum1,
#home #autoVideo #homeDivBottom #homeDivNum2,
#home #autoVideo #homeDivBottom #homeDivNum3 {
  font-size: 3rem;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#home #autoVideo #homeDivBottom #homeDivWords1,
#home #autoVideo #homeDivBottom #homeDivWords2,
#home #autoVideo #homeDivBottom #homeDivWords3 {
  font-size: 2.5rem;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#aboutMe {
  height: auto;
  width: 90vw;
  position: relative;
  left: 5vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

#aboutMe .rotating-text {
  height: 15vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
}

#aboutMe .rotating-text div {
  width: 80%;
}

#aboutMe .rotating-text div p {
  font-size: 6vmin;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#aboutMe .rotating-text div p .word {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

#aboutMe .rotating-text div p .word .letter {
  -webkit-transform-origin: center center 25px;
          transform-origin: center center 25px;
}

#aboutMe .rotating-text p .word .letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

#aboutMe .rotating-text p .word .letter.in {
  -webkit-transition: 0.38s ease;
  transition: 0.38s ease;
}

#aboutMe .rotating-text p .word .letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

#aboutMe *, #aboutMe *:before, #aboutMe *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#aboutMe .skw-pages {
  overflow: hidden;
  position: relative;
  height: 80vh;
}

#aboutMe .skw-pages .skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#aboutMe .skw-pages .skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 80vh;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#aboutMe .skw-pages .skw-page__half--left {
  left: 0;
  -webkit-transform: translate3d(-32.4vh, 100%, 0);
  transform: translate3d(-32.4vh, 100%, 0);
}

#aboutMe .skw-pages .skw-page__half--right {
  left: 50%;
  -webkit-transform: translate3d(32.4vh, -100%, 0);
  transform: translate3d(32.4vh, -100%, 0);
}

#aboutMe .skw-pages .skw-page.active .skw-page__half {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#aboutMe .skw-pages .skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}

#aboutMe .skw-pages .skw-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: column wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding: 0;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  background-size: cover;
}

#aboutMe .skw-pages .skw-page__half--left .skw-page__content {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

#aboutMe .skw-pages .skw-page__half--right .skw-page__content {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#aboutMe .skw-pages #aboutMePage1 {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

#aboutMe .skw-pages #aboutMePage1 #aboutMePage1Content {
  position: absolute;
  top: 25%;
  left: 12.5vw;
}

#aboutMe .skw-pages #aboutMePage1 #aboutMePage1Content .character360 {
  width: 20vw;
  height: 20vw;
  margin: 0 auto 0 auto;
  background: no-repeat url("../assets/zhe.PNG") left top;
  background-size: 20vw 20vw;
  border-radius: 10vw;
  -webkit-transition: -webkit-transform 2s ease-out;
  transition: -webkit-transform 2s ease-out;
  transition: transform 2s ease-out;
  transition: transform 2s ease-out, -webkit-transform 2s ease-out;
}

#aboutMe .skw-pages #aboutMePage1 #aboutMePage1Content .character360:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#aboutMe .skw-pages #aboutMePage1 #aboutMePage1Content #aboutMePage1Words {
  width: 100%;
  position: relative;
}

#aboutMe .skw-pages #aboutMePage1 #aboutMePage1Content #aboutMePage1Words span {
  font-size: 2vmin;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

#aboutMe .skw-pages #aboutMePage2 {
  height: 100%;
  width: 100%;
  background-color: black;
}

#aboutMe .skw-pages #aboutMePage2 #aboutMePage2Video iframe {
  position: absolute;
  top: 20%;
  left: 0;
}

#aboutMe .skw-pages #aboutMePage2 #aboutMePage2Words {
  color: white;
  text-align: center;
  height: 10%;
  width: 80%;
  position: absolute;
  top: 75%;
  left: 10%;
}

#aboutMe .skw-pages #aboutMePage2 #aboutMePage2Words span {
  font-size: 2vmin;
  font-family: 'Times New Roman', Times, serif;
}

#aboutMe .skw-pages #aboutMePage3 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#aboutMe .skw-pages #aboutMePage3 #aboutMePage3Code {
  display: none;
  font-size: 1.4vmin;
}

#aboutMe .skw-pages #aboutMePage4 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#aboutMe .skw-pages #aboutMePage4 #aboutMePage4_ButtonDiv {
  position: absolute;
  bottom: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  z-index: 2;
}

#aboutMe .skw-pages #aboutMePage4 img {
  position: absolute;
  bottom: 18%;
  left: 35%;
  height: 35%;
  width: height;
  z-index: 1;
}

#aboutMe .skw-pages #aboutMePage4 .toggle {
  display: block;
  text-align: center;
  margin-top: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--checkbox {
  display: none;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--btn {
  display: block;
  margin: 0 auto;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--btn:hover {
  cursor: pointer;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--btn, #aboutMe .skw-pages #aboutMePage4 .toggle--btn:before, #aboutMe .skw-pages #aboutMePage4 .toggle--btn:after,
#aboutMe .skw-pages #aboutMePage4 .toggle--checkbox,
#aboutMe .skw-pages #aboutMePage4 .toggle--checkbox:before,
#aboutMe .skw-pages #aboutMePage4 .toggle--checkbox:after {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--btn:before, #aboutMe .skw-pages #aboutMePage4 .toggle--btn:after,
#aboutMe .skw-pages #aboutMePage4 .toggle--checkbox:before,
#aboutMe .skw-pages #aboutMePage4 .toggle--checkbox:after {
  content: '';
  display: block;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #f9f8f6;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px 0px #333, 0 15px 20px 0px #cccccc;
          box-shadow: 0 5px 10px 0px #333, 0 15px 20px 0px #cccccc;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn, #aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn:before, #aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn:after {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 22.72727px;
  height: 22.72727px;
  border-radius: 50%;
  background-color: #FF9900;
  -webkit-box-shadow: inset 0 0 0 5px #ccc, inset 0 0 0 14px #f9f8f6;
          box-shadow: inset 0 0 0 5px #ccc, inset 0 0 0 14px #f9f8f6;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn:after {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4px;
  height: 12px;
  background-color: #ccc;
  -webkit-box-shadow: 0 0 0 2.5px #f9f8f6;
          box-shadow: 0 0 0 2.5px #f9f8f6;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn:hover:before {
  -webkit-box-shadow: inset 0 0 0 5px #b3b3b3, inset 0 0 0 14px #f9f8f6;
          box-shadow: inset 0 0 0 5px #b3b3b3, inset 0 0 0 14px #f9f8f6;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--btn:hover:after {
  background-color: #b3b3b3;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push .toggle--checkbox:checked + .toggle--btn {
  -webkit-box-shadow: 0 2px 5px 0px gray, 0 15px 20px 0px transparent;
          box-shadow: 0 2px 5px 0px gray, 0 15px 20px 0px transparent;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow {
  padding: 5rem 0;
  margin-bottom: -5rem;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--btn {
  background-color: #dfdfdf;
  -webkit-box-shadow: 0 5px 10px 0px #333, 0 0 0 3px #444444, 0 0 8px 2px transparent, 0 0 0 6px #919191;
          box-shadow: 0 5px 10px 0px #333, 0 0 0 3px #444444, 0 0 8px 2px transparent, 0 0 0 6px #919191;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--btn:before {
  -webkit-box-shadow: inset 0 0 0 5px #aaa, inset 0 0 0 14px #dfdfdf;
          box-shadow: inset 0 0 0 5px #aaa, inset 0 0 0 14px #dfdfdf;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--btn:after {
  background-color: #aaa;
  -webkit-box-shadow: 0 0 0 2.5px #dfdfdf;
          box-shadow: 0 0 0 2.5px #dfdfdf;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--btn:hover:before {
  -webkit-box-shadow: inset 0 0 0 5px #777777, inset 0 0 0 14px #dfdfdf;
          box-shadow: inset 0 0 0 5px #777777, inset 0 0 0 14px #dfdfdf;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--btn:hover:after {
  background-color: #777777;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--checkbox:checked + .toggle--btn {
  -webkit-box-shadow: 0 0px 8px 0 #0072ad, 0 0 0 3px #0094e0, 0 0 30px 0 #0094e0, 0 0 0 6px #777777;
          box-shadow: 0 0px 8px 0 #0072ad, 0 0 0 3px #0094e0, 0 0 30px 0 #0094e0, 0 0 0 6px #777777;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--checkbox:checked + .toggle--btn:before {
  -webkit-box-shadow: inset 0 0 0 5px #0094e0, inset 0 0 0 14px #dfdfdf;
          box-shadow: inset 0 0 0 5px #0094e0, inset 0 0 0 14px #dfdfdf;
}

#aboutMe .skw-pages #aboutMePage4 .toggle--push--glow .toggle--checkbox:checked + .toggle--btn:after {
  background-color: #0094e0;
}

#aboutMe .skw-pages #aboutMePage4 #aboutMePage4Words {
  display: none;
  color: black;
  font-size: 2vmin;
  font-family: 'Comic Sans MS';
}

#aboutMe .skw-pages #aboutMePage5 {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutMe .skw-pages #aboutMePage5 img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -10px;
}

#aboutMe .skw-pages #aboutMePage5 #likesWords h2 {
  font-size: 3vmin;
  font-family: 'Times New Roman', Times, serif;
}

#aboutMe .skw-pages #aboutMePage5 #likesWords h3 {
  font-size: 2.5vmin;
  font-family: 'Times New Roman', Times, serif;
}

#aboutMe .skw-pages #aboutMePage5 #btnLikes {
  width: 6vw;
  height: 3vh;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -50px;
  font-size: 1.5vmin;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

#aboutMe .skw-pages #aboutMePage6 {
  height: 100%;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutMe .skw-pages #aboutMePage6 #shiningTitle1 {
  --interval: 1s;
  display: block;
  border: 10px;
  border-style: double;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  -webkit-filter: saturate(60%);
          filter: saturate(60%);
  -webkit-animation: flicker steps(100) var(--interval) 1s infinite;
          animation: flicker steps(100) var(--interval) 1s infinite;
  color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
  font-size: 6rem;
  font-family: 'Comic Sans MS';
  text-align: center;
}

#aboutMe .skw-pages #aboutMePage6 #shiningTitle2 {
  --interval: 1s;
  display: block;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  -webkit-filter: saturate(60%);
          filter: saturate(60%);
  -webkit-animation: flicker steps(100) var(--interval) 1s infinite;
          animation: flicker steps(100) var(--interval) 1s infinite;
  color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

@-webkit-keyframes flicker {
  50% {
    color: white;
    -webkit-filter: saturate(200%) hue-rotate(20deg);
            filter: saturate(200%) hue-rotate(20deg);
  }
}

@keyframes flicker {
  50% {
    color: white;
    -webkit-filter: saturate(200%) hue-rotate(20deg);
            filter: saturate(200%) hue-rotate(20deg);
  }
}

#aboutMe #aboutMePagination {
  height: 7vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#aboutMe #aboutMePagination #trunLeft {
  position: absolute;
  bottom: 0;
  height: 5vh;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#aboutMe #aboutMePagination #trunRight {
  position: absolute;
  bottom: 0;
  height: 5vh;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#skillsList {
  height: auto;
  width: 100vw;
}

#skillsList .wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#skillsList .wrapper h2 {
  font-size: 6vmin;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  margin: 2rem 0;
}

#skillsList .wrapper h3 {
  font-size: 3vmin;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  margin: 2rem 0;
}

#skillsList .wrapper #skillsListContainer {
  text-align: center;
  height: 8vh;
}

#skillsList .wrapper #skillsListContainer #searchButton {
  font-size: 1.5vmin;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  width: 8vw;
}

#skillsList .wrapper #skillsListContainer #skillSearch li {
  text-align: left;
  font-weight: 100;
  font-size: 1.8vmin;
}

#skillsList .wrapper .allCols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#skillsList .wrapper .eachCol {
  width: 20vw;
  min-width: 200px;
  margin: 1vh;
  cursor: pointer;
}

#skillsList .wrapper .eachCol .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

#skillsList .wrapper .eachCol .container .front,
#skillsList .wrapper .eachCol .container .back {
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 25rem;
  height: auto;
  border-radius: 10px;
  color: #fff;
}

#skillsList .wrapper .eachCol .container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#skillsList .wrapper .eachCol .container .front .inner p {
  font-size: 4vmin;
  font-weight: 100;
  position: relative;
}

#skillsList .wrapper .eachCol .container .front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-size: 2vmin;
  font-weight: 100;
}

#skillsList .wrapper .eachCol .container .back {
  background: #cedce7;
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#skillsList .wrapper .eachCol .container .back .inner {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#skillsList .wrapper .eachCol .container .back .inner p {
  font-size: 3vmin;
  font-weight: 100;
}

#skillsList .wrapper .eachCol .container .back .inner button {
  font-size: 2vmin;
}

#skillsList .wrapper .eachCol .container .front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

#skillsList .wrapper .eachCol .container .inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

#skillsList .wrapper .eachCol .container:hover .front,
#skillsList .wrapper .eachCol .container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

#skillsList .wrapper .eachCol .container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#skillsList .wrapper .eachCol .container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#skillsList .wrapper .fydiv {
  width: 30vw;
  text-align: center;
  height: 3vh;
  margin: 0 auto;
  margin-top: 4vh;
}

#skillsList .wrapper .pagination {
  text-align: center;
  left: 50%;
  height: 100%;
  margin: 0 auto;
  list-style-type: none;
}

#skillsList .wrapper .pagination li {
  float: left;
  border: 1px solid black;
  height: 100%;
  line-height: 180%;
  margin-right: 1vw;
  list-style-type: none;
}

#skillsList .wrapper .pagination li a {
  text-decoration: none;
  color: black;
  display: block;
}

#skillsList .wrapper .pagination li:hover {
  background-color: gray;
}

#skillsList .wrapper .prev, #skillsList .wrapper .next {
  width: 15vw;
  font-size: 1.5vmin;
  font-family: 'Times New Roman', Times, serif;
}

#skillsList .wrapper .numb {
  width: 5vw;
  font-size: 1.5vmin;
  font-family: 'Times New Roman', Times, serif;
}

#skillsList .wrapper .choose {
  border: 1px solid  #1d4441 !important;
}

#skillsList .wrapper .choose a {
  color: #1d4441 !important;
}

#skillsList .wrapper .numbchoose {
  width: 5vw;
  font-size: 1.5vmin;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid  #1d4441 !important;
}

#skillsList .wrapper .numbchoose a {
  color: #1d4441 !important;
}

#resume {
  height: auto;
  width: 90vw;
  position: relative;
  left: 5vw;
  margin: 0;
  padding: 0;
}

#resume .tab-head {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 15vh;
}

#resume .tab-head .tab-head-content {
  margin: 0;
  padding: 0;
  float: left;
  width: 33.3333333%;
  line-height: 18vh;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 4vmin;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

#resume .tab-head .tab-head-content:hover {
  background-color: grey;
}

#resume #resumePwd {
  height: 75vh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  border: 1px solid grey;
}

#resume #resumePwd #resumePwdDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  border: 1px solid;
  height: 5vh;
}

#resume #resumePwd #resumePwdDiv input {
  height: 100%;
  font-size: 1.2vmin;
}

#resume #resumePwd #resumePwdDiv button {
  font-size: 2vmin;
  font-family: 'Times New Roman', Times, serif;
}

#resume .tab-body {
  height: 75vh;
  margin: 0;
  padding: 0;
}

#resume .tab-body .tab-body-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#resume .tab-body .tab-body-content #resumeTab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  height: 100%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid {
  margin-top: 30%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLTitle {
  text-align: center;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLTitle h2 {
  font-size: 3vmin;
  font-weight: 500;
  margin-bottom: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid .row div {
  font-size: 2.5vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLBtn {
  text-align: center;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabL .container-fluid #resumeTabLBtn a {
  font-size: 2vmin;
  font-weight: 100;
  margin-top: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR {
  height: 100%;
  margin: 0;
  padding: 0;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRT {
  height: 60%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRT h2 {
  font-size: 3vmin;
  font-weight: 500;
  margin-bottom: 2%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRT div {
  font-size: 2vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRB {
  height: 40%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRB h2 {
  font-size: 3vmin;
  font-weight: 500;
  margin-bottom: 2%;
}

#resume .tab-body .tab-body-content #resumeTab #resumeTabR #resumeTabRB div {
  font-size: 2vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #courseTab {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: 10%;
}

#resume .tab-body .tab-body-content #courseTab #nsccCourseTable {
  font-weight: 200;
}

#resume .tab-body .tab-body-content #projectTab .card {
  margin-top: 5vh;
  height: 30vh;
}

#resume .tab-body .tab-body-content #projectTab .card .card-header {
  font-size: 2vmin;
  font-weight: 400;
}

#resume .tab-body .tab-body-content #projectTab .card .card-body {
  font-size: 2vmin;
  font-weight: 100;
}

#resume .tab-body .tab-body-content #projectTab .card .card-footer {
  text-align: center;
}

#resume .tab-body .tab-body-content #projectTab .card .card-footer a {
  font-size: 2vmin;
  font-weight: 100;
  color: white;
}

#resume .tab-body .on {
  display: block;
  margin: 0;
  padding: 0;
}

#contactMe {
  height: auto;
  width: 100vw;
  background: url(../assets/contactBg4.jpg) no-repeat center center fixed;
  background-size: 100% 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#contactMe .row #countdown {
  background: rgba(179, 174, 174, 0.2);
  margin: 0 auto 30px auto;
  max-width: 65%;
  width: calc(100%);
  padding: 0px;
  display: block;
}

#contactMe .row #countdown .ClassyCountdown-value div {
  font-size: 5rem;
}

#contactMe .row #contactMe_words {
  text-align: center;
  font-size: 6vmin;
  overflow: hidden;
  text-align: center;
  height: 20vh;
}

#contactMe .row #contactMe_words span {
  position: absolute;
  top: 0px;
  left: 25vw;
  width: 50vw;
  font-family: 'Times New Roman';
  font-weight: 300;
}

#contactMe .row #contactMe_TalkToZhe, #contactMe .row #contactMe_phone, #contactMe .row #contactMe_linkedIn, #contactMe .row #contactMe_email {
  height: 50vh;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

#contactMe .row #contactMe_TalkToZhe .card, #contactMe .row #contactMe_phone .card, #contactMe .row #contactMe_linkedIn .card, #contactMe .row #contactMe_email .card {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

#contactMe .row #contactMe_TalkToZhe .card img, #contactMe .row #contactMe_phone .card img, #contactMe .row #contactMe_linkedIn .card img, #contactMe .row #contactMe_email .card img {
  position: absolute;
  left: 30%;
  top: 5%;
  width: 40%;
  height: 40%;
  cursor: pointer;
}

#contactMe .row #contactMe_TalkToZhe .card .card-body, #contactMe .row #contactMe_phone .card .card-body, #contactMe .row #contactMe_linkedIn .card .card-body, #contactMe .row #contactMe_email .card .card-body {
  position: absolute;
  top: 55%;
  left: 30%;
  width: 40%;
  height: 60%;
  margin: 0;
  padding: 0;
}

#contactMe .row #contactMe_TalkToZhe .card .card-body .card-title, #contactMe .row #contactMe_phone .card .card-body .card-title, #contactMe .row #contactMe_linkedIn .card .card-body .card-title, #contactMe .row #contactMe_email .card .card-body .card-title {
  font-size: 3vmin;
  font-weight: 300;
  height: 15%;
}

#contactMe .row #contactMe_TalkToZhe .card .card-body .card-text, #contactMe .row #contactMe_phone .card .card-body .card-text, #contactMe .row #contactMe_linkedIn .card .card-body .card-text, #contactMe .row #contactMe_email .card .card-body .card-text {
  font-size: 2vmin;
  font-weight: 200;
  height: 20%;
  color: black;
}

#contactMe .row #contactMe_TalkToZhe .card .card-body button, #contactMe .row #contactMe_phone .card .card-body button, #contactMe .row #contactMe_linkedIn .card .card-body button, #contactMe .row #contactMe_email .card .card-body button {
  height: 15%;
  width: 80%;
  font-size: 2vmin;
}

#contactMe .row #contactFormTitle {
  font-size: 2.5vmin;
  font-weight: 300;
}

#contactMe .row #contactForm {
  text-align: center;
}

#contactMe .row #contactForm #contactForm_name i,
#contactMe .row #contactForm #contactForm_number i,
#contactMe .row #contactForm #contactForm_email i,
#contactMe .row #contactForm #contactForm_subject i {
  color: grey;
  font-size: 2vmin;
}

#contactMe .row #contactForm #contactForm_name input,
#contactMe .row #contactForm #contactForm_number input,
#contactMe .row #contactForm #contactForm_email input,
#contactMe .row #contactForm #contactForm_subject input {
  width: 30vw;
  height: 6vh;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

#contactMe .row #contactForm #contactForm_msg textarea {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  width: 65vw;
}

#contactMe .row #contactForm #contactForm_sendBtn {
  height: 10vh;
}

#contactMe .row #contactForm #contactForm_sendBtn input {
  position: relative;
  top: 50%;
  height: 4vh;
  width: 10vw;
  font-size: 1.5vmin;
}

#portfolios {
  height: 140vh;
  width: 100vw;
  background-color: #dbd5d5;
}

#portfolios #portfoliosTitle {
  top: 15vh;
  height: 15vh;
}

#portfolios #portfoliosTitle h2 {
  font-size: 6vmin;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  margin: 2rem 0;
}

#portfolios #portfoliosTitle h3 {
  font-size: 3.5vmin;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  margin: 2rem 0;
}

#portfolios #portfoliosLeft, #portfolios #portfoliosRight {
  margin: 0;
  padding: 0;
  height: 90vh;
}

#portfolios #portfoliosLeft .portfoliosTopBlank, #portfolios #portfoliosRight .portfoliosTopBlank {
  height: 40vh;
}

#portfolios #portfoliosLeft .photopile-wrapper, #portfolios #portfoliosRight .photopile-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#portfolios #portfoliosLeft .photopile-wrapper img, #portfolios #portfoliosRight .photopile-wrapper img {
  width: 7vw;
  height: 12vh;
}

#portfolios #portfoliosDemo {
  margin: 0;
  padding: 0;
  top: 25vh;
  height: 70vh;
}

#portfolios #portfoliosDemo #el-topleft,
#portfolios #portfoliosDemo #el-topright,
#portfolios #portfoliosDemo #el-btmleft,
#portfolios #portfoliosDemo #el-btmright {
  font-size: 4vmin;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 5vmin;
  background-color: black;
}

#portfolios #portfoliosDemo #el-topleft:hover,
#portfolios #portfoliosDemo #el-topright:hover,
#portfolios #portfoliosDemo #el-btmleft:hover,
#portfolios #portfoliosDemo #el-btmright:hover {
  background-color: #83888E;
}

#portfolios #portfoliosDemo .portfoliosList .portfoliosListTitle {
  height: 15%;
  font-size: 15vmin;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 4rem;
}

#portfolios #portfoliosDemo .portfoliosList .faq {
  width: 60%;
  position: absolute;
  left: 20%;
  background-color: transparent;
  border: 1px solid #9FA4A8;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#portfolios #portfoliosDemo .portfoliosList .faq h3 {
  font-size: 5vmin;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

#portfolios #portfoliosDemo .portfoliosList .faq .faq-text {
  display: none;
  font-size: 3vmin;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

#portfolios #portfoliosDemo .portfoliosList .faq .faq-toggle {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

#portfolios #portfoliosDemo .portfoliosList .faq .faq-toggle .fa-times {
  display: none;
}

#portfolios #portfoliosDemo .portfoliosList .faq .faq-toggle .fa-chevron-down {
  color: #83888E;
}

#portfolios #portfoliosDemo .portfoliosList .faq.active {
  background-color: #83888E;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

#portfolios #portfoliosDemo .portfoliosList .faq.active .faq-text {
  display: block;
}

#portfolios #portfoliosDemo .portfoliosList .faq.active .faq-toggle {
  background-color: #9FA4A8;
}

#portfolios #portfoliosDemo .portfoliosList .faq.active .faq-toggle .fa-times {
  display: block;
}

#portfolios #portfoliosDemo .portfoliosList .faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

#portfolios #portfoliosDemo .portfoliosList .faq-toggle:focus {
  outline: none;
}

.slogan {
  text-align: center;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  background: url(../assets/slogan_bg.jpg) no-repeat center center;
  background-size: auto 80vh;
  position: relative;
}

.slogan .hero {
  position: absolute;
  top: 0;
  left: 3%;
  bottom: 0;
  right: 3%;
  overflow: hidden;
}

.slogan .hero .hero__imgwrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slogan .hero .hero__imgwrap::after {
  content: '';
  position: absolute;
  background: rgba(76, 0, 1, 0.1);
  top: 15vh;
  left: 25vw;
  width: 50vw;
  height: 50vh;
  pointer-events: none;
}

.slogan .hero h1 {
  width: 50%;
  text-align: left;
  font-weight: 500;
  font-size: 4vmin;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.2;
  position: absolute;
  left: 30%;
  top: 30vh;
  color: #fff;
}

.slogan .hero .hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.slogan .hero .mobile-note {
  position: absolute;
  bottom: 1em;
  color: #fff;
  font-size: 1.15em;
  text-align: center;
  width: 100%;
  padding: 1em;
  background: #fb7f93;
  display: none;
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hero__imgwrap .tilt__back,
.hero__imgwrap .tilt__front {
  background-size: auto 80vh;
}

@media screen and (min-aspect-ratio: 1440 / 960) {
  .hero__imgwrap .tilt__back,
  .hero__imgwrap .tilt__front,
  .slogan {
    background-size: 100vw auto;
  }
  .hero__img {
    width: 100vw;
    height: auto;
  }
}

@media screen and (max-width: 40em) {
  .slogan h1 {
    font-size: 2.5em;
  }
  .hero {
    left: 20px;
    bottom: 20px;
    right: 20px;
    top: 20px;
  }
  .mobile-note {
    display: block;
  }
}

html, body, div {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

#mustLikeIt {
  width: 100%;
  height: 40vh;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
}

#mustLikeIt #mustLikeItTitle h2 {
  font-size: 3.5vmin;
  font-weight: 100 !important;
  top: 40%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#mustLikeIt #mustLikeItTitle h5 {
  font-size: 3vmin;
  font-weight: 100;
  top: 60%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#mustLikeIt #mustLikeItBlank {
  height: 1vh;
  margin: 0;
  padding: 0;
}

#mustLikeIt #By {
  height: 5vh;
  width: 100%;
  text-align: right;
}

#mustLikeIt #By button {
  height: 85%;
  width: 20%;
  border: none;
  border-radius: 25px;
  font-size: 2vmin;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

#mustLikeIt #Bn {
  height: 5vh;
  width: 100%;
  text-align: left;
}

#mustLikeIt #Bn button {
  border: none;
  height: 85%;
  width: 15%;
  border-radius: 25px;
  font-size: 2vmin;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  background-color: #f5f5f7;
  color: #1d1d1f;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer #footerContent {
  margin: 0;
  padding: 0;
}

footer #footerContent #businessCard {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer #footerContent #businessCard h1, footer #footerContent #businessCard h3, footer #footerContent #businessCard p {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

footer #footerContent #businessCard p {
  font-size: 1.5vmin;
}

footer #footerContent #businessCard a img {
  width: 60%;
  height: width;
  margin: 0;
  padding: 0;
}

footer #footerContent #APIs {
  margin: 0;
  padding: 0;
  text-align: left;
}

footer #footerContent #APIs h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  height: 4vh;
}

footer #footerContent #APIs li {
  list-style: none;
  text-align: left;
  font-size: 1.5vmin;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

footer #footerContent #QRCode {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer #footerContent #QRCode h1, footer #footerContent #QRCode h3, footer #footerContent #QRCode p {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

footer #footerContent #QRCode p {
  font-size: 1.5vmin;
}

footer #footerContent #QRCode img {
  width: 60%;
  height: width;
  margin: 0;
  padding: 0;
}

footer #copyright {
  height: 5vh;
  font-size: 2vmin;
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */