@import './div_nav.scss';
@import './div_home.scss';
@import './div_aboutMe.scss';
@import './div_skillsList.scss';
@import './div_resume.scss';
@import './div_contactMe.scss';
@import './div_portfolios.scss';
@import './div_slogan.scss';

// https://www.cnblogs.com/nannan1221/p/10772977.html

html, body, div {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

// ensure #starting and #aboutMe not overflow
body {
    overflow-x: hidden;  
    overflow-y: auto;
}


#mustLikeIt {
    width: 100%;
    height: 40vh;
    text-align: center;
    // border: 1px solid blue;
    margin: 0;
    padding: 0;
    background-color: black;
    #mustLikeItTitle {
        // border: 1px solid;
        h2{
            font-size: 3.5vmin;
            font-weight: 100 !important;
            top: 40%;
            color: white;
            font-family: 'Times New Roman', Times, serif;
        }
        h5 {
            font-size: 3vmin;
            font-weight: 100;
            top: 60%;
            color: white;
            font-family: 'Times New Roman', Times, serif;
        }
    }
    #mustLikeItBlank {
        height: 1vh;
        margin: 0;
        padding: 0;
    }
    #By {
        height: 5vh;
        width: 100%;
        // border: 1px solid;
        text-align: right;
        button {
            height: 85%;
            width: 20%;
            border: none;
            border-radius:25px;
            font-size: 2vmin;
            font-weight: 100;
            font-family: 'Times New Roman', Times, serif;
        }
    }
    #Bn {
        height: 5vh;
        width: 100%;
        text-align: left;
        button {
            border: none;
            height: 85%;
            width: 15%;
            border-radius:25px;
            font-size: 2vmin;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}


footer {
    // background-color:rgb(158, 206, 194);
    background-color:#f5f5f7;
    color: #1d1d1f;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;

    #footerContent {
        margin: 0;
        padding: 0;
        #businessCard {
            // border: 1px solid;
            margin: 0;
            padding: 0;
            text-align: center;
            h1,h3,p{
                font-family: 'Times New Roman', Times, serif;
                font-weight: 100;
            }
            p{
                font-size: 1.5vmin;
            }
            a{
                img {
                    width: 60%;
                    height: width;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        #APIs {
            // border: 1px solid;
            margin: 0;
            padding: 0;
            text-align: left;
            h1 {
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 100;
                height: 4vh;
            }
            // h4 {
            //     font-size: 1.5vmin;
            //     font-family: 'Times New Roman', Times, serif;
            //     font-weight: 100;
            // }
            li {
                list-style:none;
                text-align: left;
                font-size: 1.5vmin;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
            }
        }
        #QRCode {
            // border: 1px solid;
            margin: 0;
            padding: 0;
            text-align: center;
            h1,h3,p{
                font-family: 'Times New Roman', Times, serif;
                font-weight: 100;
            }
            p{
                font-size: 1.5vmin;
            }
            img {
                width: 60%;
                height: width;
                margin: 0;
                padding: 0;
            }
        }
    }
    #copyright {
        height: 5vh;
        font-size: 2vmin;
        font-weight: 200;
    }
}


////////////////////////////////////////////////////////////////
#skillsList {
    // height: 80vh;
    height: auto; 
    width: 100vw;
    .wrapper{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        h2 {
            font-size: 6vmin;
            font-weight: 600;
            font-family: 'Times New Roman', Times, serif;
            color: black;
            text-align: center;
            margin: 2rem 0;
        }
        h3 {
            font-size: 3vmin;
            font-weight: 600;
            font-family: 'Times New Roman', Times, serif;
            color: black;
            text-align: center;
            margin: 2rem 0;
        }
        #skillsListContainer{
            text-align: center;
            height: 8vh;
            #searchButton {
                font-size: 1.5vmin;
                font-weight: 100;
                font-family: 'Times New Roman', Times, serif;
                width: 8vw;
            }
            #skillSearch {
                li {
                    text-align: left;
                    font-weight: 100;
                    font-size: 1.8vmin;
                }
            }
        }
        .allCols {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .eachCol{
            // width: calc(25% - 2rem);
            width: 20vw;
            min-width: 200px;
            margin: 1vh;
            cursor: pointer;
            .container{
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-perspective: 1000px;
                perspective: 1000px;
                .front,
                .back {
                    background-size: cover;
                    background-position: center;
                    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    text-align: center;
                    min-height: 25rem;
                    height: auto;
                    border-radius: 10px;
                    color: #fff;
                }
                .front{
                    -webkit-transform: rotateY(0deg);
                    transform: rotateY(0deg);
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    .inner{
                        p{
                            font-size: 4vmin;
                            // font-family: 'Times New Roman', Times, serif;
                            font-weight: 100;
                            // margin-bottom: 1rem;
                            position: relative;
                        }
                        span{
                            color: rgba(255,255,255,0.7);
                            font-weight: 300;
                            font-size: 2vmin;
                            font-weight: 100;
                            // font-family: 'Times New Roman', Times, serif;
                        }
                    }
                }
                .back{
                    background: #cedce7;
                    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
                    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
                    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    .inner {                   
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        p {
                            font-size: 3vmin;
                            font-weight: 100;
                            // font-family: 'Times New Roman', Times, serif;
                        }   
                        button {
                            font-size: 2vmin;
                            // font-family: 'Times New Roman', Times, serif;
                        }                
                    }
                }  
                .front:after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    content: '';
                    display: block;
                    opacity: 0.6;
                    background-color: #000;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    border-radius: 10px;
                }
                .inner{
                    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
                    transform: translateY(-50%) translateZ(60px) scale(0.94);
                    top: 50%;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    padding: 2rem;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    outline: 1px solid transparent;
                    -webkit-perspective: inherit;
                    perspective: inherit;
                    z-index: 2;
                }
            }
            .container:hover {
                .front, 
                .back {
                    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                }
                .back{
                    -webkit-transform: rotateY(0deg);
                    transform: rotateY(0deg);
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                }
                .front{
                    -webkit-transform: rotateY(-180deg);
                    transform: rotateY(-180deg);
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                }
            }
        }
        .fydiv {          
            width: 30vw;
            text-align: center;
            height: 3vh;
            margin: 0 auto;
            margin-top: 4vh;
        }
        .pagination {
            text-align: center;
            left: 50%;
            height: 100%;
            margin: 0 auto;
            list-style-type:none;
            li {
                float: left;
                border:1px solid black;
                height: 100%;
                line-height: 180%;
                margin-right: 1vw;
                list-style-type:none;
                a {
                    text-decoration: none;
                    color:black; 
                    display: block;
                }
            }
            li:hover {
                // background-color: #f1f1f1;
                background-color: gray;
            }
        }
        .prev, .next {
            width: 15vw;
            font-size: 1.5vmin;
            font-family: 'Times New Roman', Times, serif;
        }
        .numb {
            width: 5vw;
            font-size: 1.5vmin;
            font-family: 'Times New Roman', Times, serif;
        }
        .choose {
            border:1px solid  #1d4441 !important;
        }
        .choose a {
            color: #1d4441 !important;
        }
        //this class is not exit, but mis-read "numb choose" to "numbchoose" by brower, bug fixed
        .numbchoose {
            width: 5vw;
            font-size: 1.5vmin;
            font-family: 'Times New Roman', Times, serif;
            border:1px solid  #1d4441 !important;
            a {
                color: #1d4441 !important;
            }
        }
    }
}


////////////////////////////////////////////////////////////////
