@charset "utf-8";

.titleFont{
	font-family: 'Oswald', sans-serif;
}

.jumbotron {
	height: 100vh;
	padding: 50% 10% 50% 10%;
}

#home {
	height: 100vh;
}

#goals {
	height: 100vh;
}

#skills {
	height: 100vh;
}

#resume {
	height: 100vh;
}

#worksamples {
	height: 100vh;
}

#contact {
	height: 100vh;
}
