html,
body {
    margin: 0;
    font-size: 100%;
    background:white;
    scroll-behavior: smooth;
}

div {
    margin: 0;
    padding: 0;
}

.spanspan {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 1px 1px 3px whitesmoke;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

//////////////////////////////////////////////////home page///////////////////////////////////////
.csslider {
    text-align: left;
    position: relative;
    margin-bottom: 0px;
    ul {
        position: relative;
        // height: 650px;
        height: 100%;
        z-index: 1;
        font-size: 0;
        line-height: 0;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        li {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-size: 15px;
            font-size: initial;
            line-height: normal;
            -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
            -o-transition: all 0.5s ease-out;
            -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
            transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
            vertical-align: top;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            white-space: normal;
        }
    }
}

.csslider > input {
    display: none;
}

.csslider > ul > li.scrollable {
    overflow-y: scroll;
}

#slider1 > ul > li:nth-of-type(1) {
    background: url(../pics/home2.jpg) no-repeat center;
    background-size: cover;
}

#slider1 > input:nth-of-type(1):checked ~ ul #bg {
    width: 100%;
    -moz-transition: 0.5s 0.5s;
    -o-transition: 0.5s 0.5s;
    -webkit-transition: 0.5s 0.5s;
    transition: 0.5s 0.5s;
    text-align: center;
    padding: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.17);
}

#slider1 > input:nth-of-type(1):checked ~ ul #bg div {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -moz-transition: 0.5s 0.9s;
    -o-transition: 0.5s 0.9s;
    -webkit-transition: 0.5s 0.9s;
    transition: 0.5s 0.9s;
}

#bg {
    color: #fff;
    padding: 22px 0;
    z-index: 10;
    overflow: hidden;
}

/*-- /slider-Responsive --*/
@media screen and (max-width:1366px) {
    .csslider > ul {
        // height: 650px;
        height: 100vh;
    }
}
@media screen and (max-width: 1080px) {
    .csslider > ul {
        // height: 570px;
        height: 100vh;
    }
}
@media screen and (max-width: 1024px) {
    .csslider > ul {
        // height: 550px;
        height: 100vh;
    }
}
@media screen and (max-width: 991px) {
    .csslider > ul {
        // height: 550px;
        height: 100vh;
    }
}
@media screen and (max-width: 900px) {
    .csslider > ul {
        // height: 550px;
        height: 100vh;
    }
}
@media screen and (max-width: 800px) {
    .csslider > ul {
        // height: 500px;
        height: 100vh;
    }
    .csslider > .arrows {
        width: 99%;
    }
}
@media screen and (max-width:768px) {
    .csslider > ul {
        // height: 435px;
        height: 100vh;
    }
}
@media screen and (max-width: 667px) {
    .csslider > .arrows {
        width: 98%;
    }
}
@media screen and (max-width: 640px) {
    .csslider > ul {
        // height: 380px;
        height: 100vh;
    }
    .csslider > .arrows {
        width: 97%;
    }
}
@media screen and (max-width: 568px) {
    .csslider > ul {
        // height: 355px;
        height: 100vh;
    }
}
@media screen and (max-width: 480px) {
    .csslider > .arrows {
        width: 95%;
    }
}
@media screen and (max-width: 414px) {
    .csslider > ul {
        // height: 335px;
        height: 100vh;
    }
}

//////////////////////////////////////////////////next is framework///////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
.inline-block {
    display: inline-block;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}

.text-center {
    text-align: center
}

.pull-left {
    float: left
}

header {
    position: fixed;
    top: 1vh;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    #headerBanner {
        // border: 1px solid;
        width: 100vw;
        // height: 15vh;
        // height: 50px;
        padding: 0;
        margin: 0;
        #logo {
            // border: 1px solid;
            width: 100vw;
            padding: 0;
            margin: 0;
            img {
                width: 10vw;
                height: 5vh;
            }
            i {
                color: white;
            }
        }
    }

    nav ul {
        background-color: rgba(255, 255, 255, 0.2);
        overflow: hidden;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 60vw;
        li {
            color: whitesmoke;
            font-size: 2vmin;
            list-style: none;
            // line-height:100%;
            padding: 0;
            margin: 0;
            a {
                width: 15vw;
                height: 4vh;
                display: block;
                padding-top: 0.8vh;
            }
        }
    }
}

header nav ul li.active a,
header nav ul li.active a:hover {
    background-color: rgba(255, 255, 255, 0.4)
}

.page {
    background-color: rgba(0, 0, 0, 0.2)
}

.page.active {
    z-index: 50;
}

#wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s
}

#wrap.active {
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s
}

.cube.reverse-back {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(-180deg);
    -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(-180deg);
    -moz-transform: rotateX(180deg) rotateY(0deg) rotateZ(-180deg)
}

.cube.reverse-back .back {
    transform: translateZ(-800px) rotateY(-180deg);
    -webkit-transform: translateZ(-800px) rotateY(-180deg);
    -moz-transform: translateZ(-800px) rotateY(-180deg)
}

.cube.reverse-left .left {
    transform: translateX(-800px) rotateY(-90deg);
    -webkit-transform: translateX(-800px) rotateY(-90deg);
    -moz-transform: translateX(-800px) rotateY(-90deg)
}

.cube.reverse-right {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg)
}

.cube.reverse-right .right {
    transform: translateX(800px) rotateY(90deg);
    -webkit-transform: translateX(800px) rotateY(90deg);
    -moz-transform: translateX(800px) rotateY(90deg)
}

.cube.reverse-top {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg)
}

.cube.reverse-top .top {
    transform: translateY(-400px) rotateX(90deg);
    -webkit-transform: translateY(-400px) rotateX(90deg);
    -moz-transform: translateY(-400px) rotateX(90deg)
}

.cube.reverse-bottom .bottom {
    transform: translateY(400px) rotateX(-90deg);
    -webkit-transform: translateY(400px) rotateX(-90deg);
    -moz-transform: translateY(400px) rotateX(-90deg)
}

.face {
    display: block;
    position: absolute; ///////////////////important!!!///////
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 18px;
    text-align: center;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5)
}

.front {
    background-color: #28aadc;
}

.front.active {
    transform: translateZ(800px);
    -webkit-transform: translateZ(800px);
    -moz-transform: translateZ(800px)
}

.back {  //about us page
    // background-color: yellowgreen;
    background-image: url('../pics/aboutUsBg.jpg');
    background-size:100% 100%; 
}

.back:not(.active) {
    transform: translateZ(-800px) rotateY(-180deg);
    -webkit-transform: translateZ(-800px) rotateY(-180deg);
    -moz-transform: translateZ(-800px) rotateY(-180deg)
}

.back .active {
    transform: translateZ(800px);
    -webkit-transform: translateZ(800px);
    -moz-transform: translateZ(800px)
}

.left:not(.active) {
    transform: translateX(-800px) rotateY(-90deg);
    -webkit-transform: translateX(-800px) rotateY(-90deg);
    -moz-transform: translateX(-800px) rotateY(-90deg)
}

.left .active {
    transform: translateZ(800px);
    -webkit-transform: translateZ(800px);
    -moz-transform: translateZ(800px)
}

.right {  //contact us page
    background-image: url('../pics/contactBg.jpg');
    background-size:100% 100%; 
}

.right:not(.active) {
    transform: translateX(800px) rotateY(90deg);
    -webkit-transform: translateX(800px) rotateY(90deg);
    -moz-transform: translateX(800px) rotateY(90deg)
}

.right .active {
    transform: translateZ(800px);
    -webkit-transform: translateZ(800px);
    -moz-transform: translateZ(800px)
}

.top {  //service page
    background-image: url('../pics/servicesBg.jpg');
    background-size:100% 100%; 
}

.top:not(.active) {
    transform: translateY(-400px) rotateX(90deg);
    -webkit-transform: translateY(-400px) rotateX(90deg);
    -moz-transform: translateY(-400px) rotateX(90deg)
}

.top .active {
    transform: translateZ(800px);
    -webkit-transform: translateZ(800px);
    -moz-transform: translateZ(800px)
}

.bottom:not(.active) {
    transform: translateY(400px) rotateX(-90deg);
    -webkit-transform: translateY(400px) rotateX(-90deg);
    -moz-transform: translateY(400px) rotateX(-90deg)
}

.bottom .active {
    transform: translateZ(800px);
    -webkit-transform: translateZ(800px);
    -moz-transform: translateZ(800px)
}
/////////////////////////////////next is contact us page/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#contactTopBlank {
    height: 20vh;
    // border:1px solid;
}
#ourInfo {
    // border:#909090 1px solid;
    background-image: url('../pics/drop.png');
    background-size:100% 100%;
    height: 60vh;
    width: 100%;
    #ourInfoDetails {
        background:rgba(255,255,255,0.1);
        height: 60vh;
        width: 100%;
        margin: 0;
        padding: 0;
        #ourInfoLocate {
            // border: 1px solid;
            height: 10vh;
            color: black;
            font-size: 2vmin;
        }
        #ourInfoCall {
            // border: 1px solid;
            height: 12vh;
            color: black;
            font-size: 2vmin;
        }
        #ourInfoEmail {
            height: 8vh;
            color: black;
            // border: 1px solid;
            font-size: 2vmin;
        }
        #ourInfoFacebook {
            height: 8vh;
            color: black;
            // border: 1px solid;
            font-size: 2vmin;
        }
        #ourInfoPayment {
            height: 15vh;
            color: black;
            // border: 1px solid;
            font-size: 2vmin;
        }
    }
}
#leaveMessage {
    // border: 1px solid;
    height: 60vh;
    #DropUsaLine {
        color: white;
        font-size: 5vmin;
    }
    .contactText,
    .contactMessage {
        padding: 3%;
    }
    .contactSubmit {
        // border: 1px solid red;
        height: 10vh;
        text-align: center;
        button {
            position: absolute;
            bottom: 0px;
            left: 35%;
            width: 30%;
            height: 50%;
            font-size: 2vmin;
        }
    }
}

// @media screen and (max-height:550px){    ///////////////need to adjust
//     #asFooter {
//         display:none;
//     }
// }

// @media screen and (max-height:550px){   /////need to adjust
//     .contactSubmit {
//         display:none;
//     }
// }

// @keyframes scatter {
//     0% {
//       top: 0;
//     }
//     50% {
//       top: -10px;
//     }
//     100% {
//       top: 0;
//     }
// }

/////////////////////////////////////////////////next is services page//////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
#services {
    #topBlank {
        height: 12vh;
    }
    #userManual {
        border: 1px solid ;
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        color: whitesmoke;
        display: table-cell;
        text-align: center;
        overflow:hidden;
        h6 {
            margin: 0;
            padding: 0;
            font-size: 2vmin;
        }
        #userManualPicDiv {
            // border: 1px solid red;
            height: 36vh;
            margin: 0;
            padding-top: 1.2vh;
            img {
                margin: 0;
                padding: 0;
                width: 29vmin;
                height: 36vmin; 
            }
        }
    }
    #logixValve {
        border: 1px solid ;
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        color: whitesmoke;
        display: table-cell;
        text-align: center;
        overflow:hidden;
        h6 {
            margin: 0;
            padding: 0;
            font-size: 2vmin;
        }
        #logixValvePicDiv {
            height: 36vh;
            margin: 0;
            padding-top: 1.2vh;
            img {
                margin: 0;
                padding: 0;
                width: 29vmin;
                height: 36vmin; 
            }
        }
    }
    #brandsWeUse {
        border: 1px solid ;
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        color: whitesmoke;
        overflow:hidden;
        h6 {
            margin: 0;
            padding: 0;
            font-size: 2vmin;
        }
        ul {
            // border: 1px solid ;
            padding-top: 1.2vh;
            text-align: center;
            li {
                list-style-type:none;
                height: 7vh;
                img {
                    margin: 0;
                    padding: 0;
                    height: 6.3vmin;
                    width: 100%;
                }
            }
        }
    }
    #productList {
        border: 1px solid ;
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
        color: whitesmoke;
        overflow:auto;
        h6 {
            margin: 0;
            padding: 0;
            font-size: 2vmin;
        }
        ul {
            text-align: left;
            padding-top: 1.2vh;
            li {
                list-style-type:none;
                padding-left: 10%;
                height: 3.5vh;
                font-size: 1.8vmin;
            }
        }
    }
    #servicesPics {
        border: 1px solid ;
        height: 45vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        #certify {
            border: 1px solid red;
            width: 100%;
            height: 100%;
            .swiper-slide{
                // width: 100%;
                border: 2px solid pink;
                height: 100% !important;
                width: 60% !important;
                img {
                width: 100% !important;
                height: 30vh !important;
                }
                span {
                    width: 100%;
                    height: 10vh !important;
                    padding: 0;
                    margin: 0;
                    font-size: 2vmin;
                }
            }
            .swiper-pagination {
                border: 1px solid yellow;
                bottom: 0px;
            }

        }
    }
}

/////////////////////////////////////////////////next is about us page//////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
#about {
    #aboutTopBlank {
        // border:1px solid;
        height: 18vh;
    }
    .rotating-text {
        // border:1px solid;
        height: 10vh;
        margin: 0;
        padding: 0;
        color: white;
        transform: translateX(-80px);
        p {
            font-size: 3vmin; 
            font-weight: 600;
            display: inline-flex;
            margin: 0;
            vertical-align: top;
            .word {
                position: absolute;
                display: flex;
                opacity: 0;
                .letter {
                    transform-origin: center center 25px;
                }
            }
        }
    }
    .rotating-text p .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
    }
    .rotating-text p .word .letter.in {
    transition: 0.38s ease;
    }
    .rotating-text p .word .letter.behind {
    transform: rotateX(-90deg);
    }

    #aboutWords {
        height: 60vh;
        width: 100vw;
        // border: 1px solid;
        text-align: left;
        margin: 0;
        // padding: 0;
        padding-left: 2vw;
        color: black;
        p {
            font-size: 2.5vmin;
        }
    }
}

  