html,
body {
  margin: 0;
  font-size: 100%;
  background: white;
  scroll-behavior: smooth;
}

div, ul {
  margin: 0;
  padding: 0;
}

.inline-block {
  display: inline-block;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  top: 1vh;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}

header #headerBanner {
  width: 100vw;
  padding: 0;
  margin: 0;
}

header #headerBanner #logo {
  width: 100vw;
  padding: 0;
  margin: 0;
}

header #headerBanner #logo img {
  width: 10vw;
  height: 5vh;
}

header #headerBanner #logo i {
  color: white;
}

header nav ul {
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 60vw;
}

header nav ul li {
  color: whitesmoke;
  font-size: 2vmin;
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  font-family: 'Roboto', sans-serif;
}

header nav ul li a {
  width: 15vw;
  height: 4vh;
  display: block;
  padding-top: 0.8vh;
}

header nav ul li.active a {
  background-color: rgba(255, 255, 255, 0.4);
}

#wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
}

#wrap.active {
  top: 10%;
  bottom: 10%;
  right: 10%;
  left: 10%;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}

.cube.reverse-back {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(-180deg);
  -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(-180deg);
  -moz-transform: rotateX(180deg) rotateY(0deg) rotateZ(-180deg);
}

.cube.reverse-back .back {
  transform: translateZ(-800px) rotateY(-180deg);
  -webkit-transform: translateZ(-800px) rotateY(-180deg);
  -moz-transform: translateZ(-800px) rotateY(-180deg);
}

.cube.reverse-left .left {
  transform: translateX(-800px) rotateY(-90deg);
  -webkit-transform: translateX(-800px) rotateY(-90deg);
  -moz-transform: translateX(-800px) rotateY(-90deg);
}

.cube.reverse-right {
  transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  -webkit-transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}

.cube.reverse-right .right {
  transform: translateX(800px) rotateY(90deg);
  -webkit-transform: translateX(800px) rotateY(90deg);
  -moz-transform: translateX(800px) rotateY(90deg);
}

.cube.reverse-top {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.cube.reverse-top .top {
  transform: translateY(-400px) rotateX(90deg);
  -webkit-transform: translateY(-400px) rotateX(90deg);
  -moz-transform: translateY(-400px) rotateX(90deg);
}

.cube.reverse-bottom .bottom {
  transform: translateY(400px) rotateX(-90deg);
  -webkit-transform: translateY(400px) rotateX(-90deg);
  -moz-transform: translateY(400px) rotateX(-90deg);
}

.face {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #666;
  text-align: center;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.front {
  background-color: #28aadc;
}

.front.active {
  transform: translateZ(800px);
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
}

.back {
  background-image: url("../pics/aboutUsBg.jpg");
  background-size: 100% 100%;
}

.back:not(.active) {
  transform: translateZ(-800px) rotateY(-180deg);
  -webkit-transform: translateZ(-800px) rotateY(-180deg);
  -moz-transform: translateZ(-800px) rotateY(-180deg);
}

.back .active {
  transform: translateZ(800px);
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
}

.right {
  background-image: url("../pics/contactBg.jpg");
  background-size: 100% 100%;
}

.right:not(.active) {
  transform: translateX(800px) rotateY(90deg);
  -webkit-transform: translateX(800px) rotateY(90deg);
  -moz-transform: translateX(800px) rotateY(90deg);
}

.right .active {
  transform: translateZ(800px);
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
}

.top {
  background-image: url("../pics/servicesBg.jpg");
  background-size: 100% 100%;
}

.top:not(.active) {
  transform: translateY(-400px) rotateX(90deg);
  -webkit-transform: translateY(-400px) rotateX(90deg);
  -moz-transform: translateY(-400px) rotateX(90deg);
}

.top .active {
  transform: translateZ(800px);
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
}

.csslider {
  text-align: left;
  position: relative;
}

.csslider ul {
  position: relative;
  height: 100%;
  z-index: 1;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.csslider ul li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: normal;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}

.csslider > input {
  display: none;
}

.csslider > ul > li.scrollable {
  overflow-y: scroll;
}

#slider1 > ul > li:nth-of-type(1) {
  background: url(../pics/home.jpg) no-repeat center;
  background-size: cover;
}

#slider1 > input:nth-of-type(1):checked ~ ul #bg {
  width: 100%;
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
  text-align: center;
  padding: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.17);
}

#slider1 > input:nth-of-type(1):checked ~ ul #bg div {
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-transition: 0.5s 0.9s;
  transition: 0.5s 0.9s;
}

#bg {
  color: #fff;
  overflow: hidden;
}

/*-- /slider-Responsive --*/
@media screen and (max-width: 1366px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 1080px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 991px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 900px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 800px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 640px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 568px) {
  .csslider > ul {
    height: 100vh;
  }
}

@media screen and (max-width: 414px) {
  .csslider > ul {
    height: 100vh;
  }
}

#about #aboutTopBlank {
  height: 18vh;
}

#about .rotating-text {
  height: 10vh;
  margin: 0;
  padding: 0;
  color: white;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}

#about .rotating-text p {
  font-size: 3vmin;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

#about .rotating-text p .word {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

#about .rotating-text p .word .letter {
  -webkit-transform-origin: center center 25px;
          transform-origin: center center 25px;
}

#about .rotating-text p .word .letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

#about .rotating-text p .word .letter.in {
  -webkit-transition: 0.38s ease;
  transition: 0.38s ease;
}

#about .rotating-text p .word .letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

#about #aboutWords {
  height: 60vh;
  width: 100vw;
  text-align: left;
  margin: 0;
  padding-left: 2vw;
  color: black;
}

#about #aboutWords p {
  font-size: 2.5vmin;
  font-family: 'Roboto', sans-serif;
}

#services #topBlank {
  height: 12vh;
}

#services #manuals {
  height: 35vh;
  width: 100%;
}

#services #manuals #manual1 {
  height: 17.5vh;
  margin: 0;
  text-align: left;
  padding-top: 25%;
  padding-left: 20%;
}

#services #manuals #manual1 button {
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#services #manuals #manual2 {
  height: 17.5vh;
  margin: 0;
  text-align: left;
  padding-top: 10%;
  padding-left: 20%;
}

#services #manuals #manual2 button {
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#services #brandsWeUse {
  height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  overflow: hidden;
}

#services #brandsWeUse h6 {
  margin: 0;
  padding: 0;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#services #brandsWeUse ul {
  padding-top: 1vh;
  text-align: center;
}

#services #brandsWeUse ul li {
  list-style-type: none;
  height: 6.3vh;
}

#services #brandsWeUse ul li img {
  margin: 0;
  padding: 0;
  height: 95%;
  width: 100%;
}

#services #productList {
  height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  overflow: auto;
}

#services #productList h6 {
  margin: 0;
  padding: 0;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#services #productList ul {
  text-align: left;
  padding-top: 1.2vh;
}

#services #productList ul li {
  list-style-type: none;
  padding-left: 10%;
  height: 3vh;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#services #servicesPics {
  height: 48vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#services #servicesPics #certify {
  width: 100%;
  height: 100%;
}

#services #servicesPics #certify #servicesPicsTitle {
  font-size: 3vmin;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#services #servicesPics #certify .swiper-slide {
  height: 100% !important;
  width: 60% !important;
}

#services #servicesPics #certify .swiper-slide img {
  width: 100% !important;
  height: 35vh !important;
}

#services #servicesPics #certify .swiper-slide span {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
  color: black;
}

#services #servicesPics #certify .swiper-slide .specialSpan {
  font-size: 1.8vmin !important;
}

#services #servicesPics #certify .swiper-pagination {
  bottom: 0px;
}

#contactTopBlank {
  height: 20vh;
}

#ourInfo {
  background-image: url("../pics/drop.png");
  background-size: 100% 100%;
  height: 60vh;
  width: 100%;
}

#ourInfo #ourInfoDetails {
  background: rgba(255, 255, 255, 0.1);
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ourInfo #ourInfoDetails #ourInfoLocate {
  height: 10vh;
  color: black;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#ourInfo #ourInfoDetails #ourInfoCall {
  height: 12vh;
  color: black;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#ourInfo #ourInfoDetails #ourInfoEmail {
  height: 8vh;
  color: black;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#ourInfo #ourInfoDetails #ourInfoFacebook {
  height: 8vh;
  color: black;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#ourInfo #ourInfoDetails #ourInfoPayment {
  height: 15vh;
  color: black;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}

#leaveMessage {
  height: 60vh;
}

#leaveMessage #DropUsaLine {
  color: white;
  font-size: 5vmin;
  font-family: 'Roboto', sans-serif;
}

#leaveMessage .contactText,
#leaveMessage .contactMessage {
  padding: 3%;
}

#leaveMessage .contactSubmit {
  height: 10vh;
  text-align: center;
}

#leaveMessage .contactSubmit button {
  position: absolute;
  bottom: 0px;
  left: 35%;
  width: 30%;
  height: 50%;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=main.css.map */